<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>DouyinAppID</key>
	<string>aws8ujfhmwybxv72</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ponynotes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx3b1a7737f52a004b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aws8ujfhmwybxv72</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>douyinopensdk</string>
		<string>douyinv1opensdk</string>
		<string>douyinliteopensdk</string>
		<string>douyinHTSOpenSDK</string>
		<string>douyinDSOpenSDK</string>
		<string>douyinSelectOpenSDK</string>
		<string>douyinSearchOpenSDK</string>
		<string>douyinsharesdk</string>
		<string>douyinsharesdkLite</string>
		<string>douyinsharesdkHTS</string>
		<string>douyinsharesdkDS</string>
		<string>douyinshareSelect</string>
		<string>douyinshareSearch</string>
		<string>snssdk1128</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartVmService._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>小马笔记需要访问相机，以便将拍摄的照片添加到文档中。</string>
	<key>SKProductsRequestUsageDescription</key>
	<string>用于查询内购产品信息，以便用户购买会员服务</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>小马笔记需要访问照片，以便将导出的内容保存到照片图库。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>小马笔记需要访问照片，以便将照片添加到文档中。</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
